<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src="http://lib.baomitu.com/jquery/1.12.4/jquery.min.js"></script>  
  <link rel="stylesheet" href="common_14bb26d9.css">
  <link rel="stylesheet" href="index_3dd4fcd9.css">
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>EJS Welcome to
    <%= title %>
  </p>
  <div class="container">
    
  </div>
  <script src="common_64bc34b9.js"></script>
  <script src="index_b152b2db.js"></script>
</body>

</html>