.bg {
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 612px;
  position: absolute;
  z-index: 0;
  left: 0;
}

.bg1 {
  top: 0;
  background-image: url(../images/new_bg1.jpg);
}

.bg2 {
  top: 612px;
  background-image: url(../images/new_bg2.jpg);
}

.bg3 {
  top: 1224px;
  background-image: url(../images/new_bg3.jpg);
}

.news-wrap {
  height: 1345px;
  padding-top: 540px;
}

.content {
  margin: 96px auto 0 auto;
  width: 1063px;
  height: 598px;
  position: relative;
  color: #fff;
  background: url(../images/new_content_bg.png) no-repeat center center;
}

.topic {
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  left: 575px;
  top: 308px;
}

.article {
  color: #cdcffd;
  line-height: 30px;
  font-size: 14px;
  text-indent: 30px;
  letter-spacing: 1px;
  width: 448px;
  height: 176px;
  position: absolute;
  left: 564px;
  top: 350px;
  font-weight: 300;
  overflow: hidden;
}

footer {
  margin: 182px auto 0 auto;
}

.head-title {
  position: absolute;
  left: 118px;
  top: 46px;
  white-space: nowrap;
}

.time-left {
  position: absolute;
  left: 438px;
  top: 222px;
  color: #8897a9;
}

.time-right {
  position: absolute;
  right: 34px;
  top: 539px;
  color: #9e9ba1;
}

.page-box {
  position: absolute;
  bottom: 14px;
  right: 10px;
  width: 487px;
  color: #6979c4;
  font-size: 14px;
}

.page-box p {
  cursor: pointer;    
  display: inline-block;
  width: 191px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-box .next {
  margin-left: 100px;
}

.page-box .news-name {
  margin-left: 8px;
}
