.tech {
  margin-top: 130px;
  height: 491px;
}

.tech .slide-techs {
  width: 1119px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.tech .unslider-arrow {
  width: 75px;
  height: 266px;
  position: absolute;
  background-color: rgb(25, 17, 56);
  background-color: rgba(25, 17, 56, 0.6);
  font-size: 110px;
  line-height: 253px;
  font-weight: 200;
  color: #181648;
}

.tech .unslider-arrow.next {
  right: -29px;
  top: 177px;
}

.tech .unslider-arrow.prev {
  left: -44px;
  top: 177px;
}

.tech .slide-btn {
  width: 75px;
  height: 266px;
  position: absolute;
  background-color: rgb(25, 17, 56);
  background-color: rgba(25, 17, 56, 0.6);
  font-size: 110px;
  line-height: 253px;
  font-weight: 200;
  color: #181648;
}

.tech .slide-btn.prev {
  left: -81px;
  top: 66px;
}

.tech .slide-btn.next {
  right: -83px;
  top: 66px;
}

.tech .ul-techs {
  overflow: hidden;
}

.tech .one-tech {
  float: left;
  width: 540px;
  height: 330px;
  position: relative;
  text-align: right;
  padding-right: 13px;
  color: #fff;
  margin-right: 18px;    
}

.tech .one-tech .img-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.tech .one-tech .intro,
.tech .one-tech .sub-intro {
  position: relative;
  z-index: 1;
}

.tech .one-tech .intro {
  font-size: 24px;
  font-weight: 600;
  margin-top: 101px;
  margin-bottom: 19px;
}

.tech .one-tech .sub-intro {
  font-size: 14px;
  width: 210px;
  line-height: 18px;
  margin-left: auto;
}

.tech .unslider-nav {
  margin-top: 40px;
  height: 11px;
  text-align: center;
}

.tech .unslider-nav li {
  display: inline-block;
  margin: 0 6px;
  width: 11px;
  height: 11px;
  background: #222268;
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
}

.tech .unslider-nav .unslider-active {
  background: #29b8fc;
  background: -prefix-linear-zgradient(top, #29b8fc, #1a81f5);
  background: linear-gradient(to bottom, #29b8fc, #1a81f5);
}

.tech .circles {
  margin-top: 40px;
  height: 11px;
  text-align: center;
}

.tech .circles li {
  display: inline-block;
  margin: 0 6px;
  width: 11px;
  height: 11px;
  background: #222268;
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
}

.tech .circles li.on {
  background: #29b8fc;
  background: -prefix-linear-zgradient(top, #29b8fc, #1a81f5);
  background: linear-gradient(to bottom, #29b8fc, #1a81f5);
}
