<% data.forEach(function(it, index) { %>
  <a class="partner-logo logo<%= index+1 %>"  href=<%= String(it.url) || "javasciprt:;" %>>
    <img src="<%= it.logo %>" alt="<%= it.title %>">
  </a>
<% }); %>