<% data.slice(0, 4).forEach(function(it, index) { %>
  <a target="_blank" class="J_logo logo-hover partner-logo logo<%= index+1 %>" data-url="<%= it.url %>">
    <img class="animated" src="<%= it.logo %>">
  </a>
<% }); %>