<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="http://lib.baomitu.com/jquery/3.3.1/jquery.js"></script>
</head>

<body>
  <script type="text/template" id="tpl">
    <% $.each(data, function(i, n){ %>
      <p>姓名：
        <%= i=== 0 ? "00000" : n.name %>,年龄
      </p>
      <% }); %>
  </script>

  <script>
    var tpl = (function () {
      var templateSettings = {
        evaluate: /<%([\s\S]+?)%>/g,
        interpolate: /<%=([\s\S]+?)%>/g,
        escape: /<%-([\s\S]+?)%>/g
      };

      var noMatch = /(.)^/;

      var escapes = {
        "'": "'",
        '\\': '\\',
        '\r': 'r',
        '\n': 'n',
        '\u2028': 'u2028',
        '\u2029': 'u2029'
      };

      var escaper = /\\|'|\r|\n|\u2028|\u2029/g;

      var escapeChar = function (match) {
        return '\\' + escapes[match];
      };

      var templateFun = function (text, settings, oldSettings) {
        if (!settings && oldSettings) settings = oldSettings;
        settings = $.extend({}, settings, templateSettings);


        var matcher = RegExp([
          (settings.escape || noMatch).source,
          (settings.interpolate || noMatch).source,
          (settings.evaluate || noMatch).source
        ].join('|') + '|$', 'g');


        var index = 0;
        var source = "__p+='";
        // debugger;      
        text.replace(matcher, function (match, escape, interpolate, evaluate, offset) {
          source += text.slice(index, offset).replace(escaper, escapeChar);
          index = offset + match.length;

          if (escape) {
            source += "'+\n((__t=(" + escape + "))==null?'':_.escape(__t))+\n'";
          } else if (interpolate) {
            source += "'+\n((__t=(" + interpolate + "))==null?'':__t)+\n'";
          } else if (evaluate) {
            source += "';\n" + evaluate + "\n__p+='";
          }

          return match;
        });
        source += "';\n";


        if (!settings.variable) source = 'with(obj||{}){\n' + source + '}\n';

        source = "var __t,__p='',__j=Array.prototype.join," +
          "print=function(){__p+=__j.call(arguments,'');};\n" +
          source + 'return __p;\n';

        try {
          var render = new Function(settings.variable || 'obj', source);
        } catch (e) {
          e.source = source;
          throw e;
        }

        var template = function (data) {
          debugger;
          return render.call(this, data);
        };

        var argument = settings.variable || 'obj';
        template.source = 'function(' + argument + '){\n' + source + '}';

        return template;
      };

      return templateFun;
    }());
    var data = [
      {name: 'mike'},
      {name: 'mike'},
      {name: 'mike'},
    ]
    var a = tpl($('#tpl').html());
    console.log(a({data}));

  </script>
</body>

</html>